<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable + Sortable</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  ul { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      text-align: center;
  }
  li { 
      margin: 5px;
      padding: 5px;
      width: 200px;
      background-color: white;
      border: 1px solid black;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".sortable" ).sortable({
      revert: true
    });
    $( ".draggable" ).draggable({
      connectToSortable: ".sortable",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  } );
  </script>
</head>
<body>
 
<table border=1>
<tr>
<th style="background-color: #f7f57e"> Low priority </th>
<th style="background-color: white"> Inbox </th>
<th style="background-color: #e03731"> High priority </th>
<th style="background-color: #5b85e5"> In progress </th>
<th style="background-color: #6eea60"> Done </th>
</tr>
<tr>
{% for name, column in board %}
    <td class="sortable">
        <ul class="sortable" id='{{ name }}' >

       {% for row in column %}
           <li class="draggable">{{ row }}</li>
       {% endfor %}
        </ul>
    </td>
{% endfor %}
</tr>
 
</body>
</html>
