<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable + Sortable</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  ul { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      width: 222px;
      height: 1000px;
      text-align: center;
  }
  li { 
      margin: 5px;
      padding: 5px;
      width: 200px;
      background-color: white;
      border: 1px solid black;
      text-align: center;
  }
  th {
      width: 200px;
  }
  li a {
      color: black;
      text-decoration: none;
  
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

     function getPositionBefore(self, issueId) {
        var ret = false;
        var thisId = "";
        retId = ''

        var html = self.parent().find('li').each(function (index, element) {
            thisId = $( this ).attr('id');
            if (ret == true) {
                retId=thisId;
                ret = false;
            }

            if (thisId == undefined) { ret = true; }
        });


        if (retId == issueId) { retId = "" }
        return retId;
     
     }

    var fromColumnId = '';
    function startMoveIssue() {
        fromColumnId = $(this).parent().attr('id');
    }

     function stopMoveIssue() {
        var issueId = $(this).attr('id');
        var toColumnId = $(this).parent().attr('id');
        var position_before = getPositionBefore($(this), issueId);

        var dataString = 'issue='+ issueId + '&to_column=' + toColumnId + '&from_column=' + fromColumnId + '&position_before=' + position_before;

        $.ajax({
           type: "POST",
           url: "/move_issue",
           data: dataString, 
           success: function(data) { }
        });
    return true;
    }


  $( function() {
    $( ".sortable" ).sortable({
      revert: true
    });
    $( ".draggable" ).draggable({
      connectToSortable: ".sortable",
      revert: "invalid",
      start: startMoveIssue,
      stop: stopMoveIssue
    });
    $( "ul, li" ).disableSelection();
  } );
  </script>
</head>
<body>
 
<table border=1>
<tr>
<th style="background-color: #f7f57e"> Low priority </th>
<th style="background-color: white"> Inbox </th>
<th style="background-color: #e03731"> High priority </th>
<th style="background-color: #5b85e5"> In progress </th>
<th style="background-color: #6eea60"> Done </th>
</tr>
<tr>
{% for name, column in board %}
    <td class="sortable" id='{{ name }}'>
        <ul class="sortable" id='{{ name }}' >

       {% for issue in column %}
       <li id="{{ issue.id }}" class="draggable"><a href='{{ issue.html_url }}'>{{ issue.title }}</a></li>
       {% endfor %}
        </ul>
    </td>
{% endfor %}
</tr>
 
</body>
</html>
